{% extends "auctions/layout.html" %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            {% for category in categories %}

            <li class="list-group-item"><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="categories/{{category.id}}">{{category.name}}</a></li>
            
            {% endfor %}
        </ul>
      </div>
{% endblock %}
