.welcome-text {
    color: #000000;
}

.container-bg {
    background-color: hsl(228, 100%, 50%);
    border: 1px solid hsl(228, 100%, 22%);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.project-card {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 200px;
    height: 250px;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card h2 {
    color: #000000;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.project-card p {
    color: #333;
    font-size: 0.9em;
    flex-grow: 1;
}

.see-more-btn,
.delete-btn {
    background-color: #27ae60;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.see-more-btn:hover,
.delete-btn:hover {
    background-color: #1a7540;
    color: #fff;
    text-decoration: none;
}

.delete-btn {
    background-color: red;
}

.delete-btn:hover {
    background-color: rgb(146, 0, 0);
}

.login-button {
    background-color: #27ae60;
    border-color: #27ae60;
}

.login-button:hover {
    background-color: #114d2a;
    border-color: #114d2a;
}

.container {
    margin-top: 30px;
    padding: 0 15px;
}

.page-title {
    color: #333;
}

.form-label {
    color: #555;
}

.form-control {
    border-color: #ccc;
}

.btn-primary {
    background-color: #336699;
    border-color: #336699;
}

.btn-primary:hover {
    background-color: #1b354f;
    border-color: #1b354f;
}

@media (max-width: 768px) {
    .project-card {
        width: 100%;
        height: auto;
    }

    .container {
        margin-top: 20px;
        padding: 0 15px;
    }
}

.invite_form {
    display: none;
}

.nav-link {
    position: relative;
    display: flex;
    align-items: center;
}

.fa-inbox {
    font-size: 1.5rem; 
    margin-right: 5px;
}

.badge {
    position: absolute;
    top: -2px; 
    right: -6px; 
    font-size: 0.6rem; 
}

.invites_box {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    width: 250px; 
}

.list-group-item {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.btn-primary,
.btn-danger {
    width: 100px; 
}

@media (max-width: 576px) {
    .btn-primary,
    .btn-danger {
        width: 80px; 
    }
}

.project-details {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.invite-box {
    margin-left: auto; 
}

.invite_form {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.invite-box button {
    display: flex;
    align-items: center;
}

.task-section {
    margin-top: 20px;
}

.task-form {
    margin-bottom: 20px;
}

.task-form form {
    display: grid;
    grid-gap: 10px;
}

.task-form input,
.task-form textarea,
.task-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.task-list {
    margin: auto;
}

.task-item {
    display: flex;
    flex-direction: column;
}

.task-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.task-description {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
}

.task-members {
    margin-top: 10px;
}

.task-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.task-status {
    margin-left: 10px;
}

.task-time {
    font-size: 1rem;
    color: #555;
    font-weight: bold;
    margin-top: 10px;
}

.bg-light {
    background-color: #5e5e5e !important; 
    border-left: 5px solid #242424 !important;
}

.complete-task-container {
    background-color: #cdcdcd !important; 
    border-left: 5px solid #242424 !important;
}

.overdue-event {
    background-color: #FF0000 !important;  
}

.task-overdue {
    background-color: #ff2f2f6f !important;  
    border-left: 5px solid #ff0000 !important;  
}

.task-ontime {
    border-left: 5px solid #27ae60 !important;  
}

.edit-form {
    display: none;
}

.task-info {
    display: block;
}

@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 90%;
        margin: 15px 0;
    }

    .container-bg {
        padding: 10px;
    }

    .btn-group {
        flex-direction: column;
        gap: 10px;
    }

    .task-form form {
        grid-template-columns: 1fr;
    }

    .task-item {
        padding: 10px;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .task-form form {
        grid-template-columns: 1fr;
    }

    .btn-primary,
    .btn-danger {
        width: 100%;
        margin-bottom: 10px;
    }

    .task-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .task-status {
        flex-direction: column;
        align-items: flex-start;
    }
}
