{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>

    <form action="{% url 'createnewpage' %}" method="POST">
        <label>Page Title</label>
        <br/>
        {% csrf_token %}
        <input type="text" name="name" placeholder="Page Name">
        <br/>
        <label>Markdown Text</label>
        <br/>
        <textarea name="markdownbody"></textarea>
        <br/>
        <input type="submit" value="Submit">
    </form>
{% endblock %}