{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
    <h1>Edit {{ title }}</h1>
    <form action="{% url 'saveedit' %}" method="POST">
        {% csrf_token %}
        <label>Title:</label>
        <input type="text" name="name" placeholder="New title" value="{{ title }}"> 
        <br/>
        <label>New Markdown:</label>
        <br/>
        <textarea name="markdownbody">{{ markdowncontent }}</textarea>
        <br/>
        <input type="submit" value="Save">
    </form>

{% endblock %}