{% extends "capstone/layout.html" %}

{% block title %}Project Management Hub{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="alert-container"></div>
        <div>
            <div class="container mt-4 container-bg">
                <h1 class="welcome-text">Welcome, {{ user.username }}</h1>
            </div>
            <div class="projects-container">
                {% for project in user_projects %}
                    <div id="card-{{project.id}}" class="project-card">
                        <h2>{{ project.name }}</h2>
                        <p>{{ project.description }}</p>
                        <div class="btn-group">
                            <a href="{% url 'project' id=project.id %}" class="see-more-btn">See More</a>
                            {% if user == project.owner %}
                                <a data-project_id="{{project.id}}" class="delete-btn">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <p>No projects yet.</p>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="jumbotron text-left">
            <div class="container">
                <h1 class="display-4 welcome-text">Welcome to the Project Management Hub</h1>
                <p class="lead welcome-text">Manage your projects and tasks efficiently.</p>
                <a class="btn btn-primary btn-lg login-button" href="{% url 'login' %}" role="button">Log In</a>
            </div>
        </div>
    {% endif %}
    
{% endblock %}