{% extends "capstone/layout.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    <div id="alert-container"></div>
    <div class="project-details d-flex justify-content-between align-items-center">
        <div>
            <h1>{{ project.name }}</h1>
            <h6>Owner: {{ project.owner }}</h6>
        </div>
        
        {% if user == project.owner %}
            <div class="invite-box d-flex align-items-center">
                <button id="invite-btn" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Invite user
                </button>
                
                <div id="invite_form" class="invite_form ml-2" style="display: none;">
                    <form class="d-flex">
                        <input type="hidden" id="projectId" value="{{ project.id }}">
                        <select id="userSelect" class="form-select mr-2" aria-label="Default select example">
                            <option selected>Select User</option>
                            {% for user in all_users %}
                                {% if user != project.owner and user not in members %}
                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                {% endif %}
                            {% empty %}
                                <option> No users </option>
                            {% endfor %}
                        </select>
                        <button type="button" id="sendinvite-btn" class="btn btn-success">Send Invite</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
    
    <hr>

    <div class="task-section"></div>

    {% if user == project.owner %}  
            <h2>Task Management</h2>
            <div class="task-form">
                <form action="{% url 'add_task' id=project.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="title" id="taskTitle" class="form-control" placeholder="Task title">
                    </div>
                    <div class="form-group">
                        <textarea id="taskDescription" name="description" class="form-control" placeholder="Task description" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="number" name="time" id="taskTime" class="form-control" placeholder="Estimated time (hours)">
                    </div>
                    <div class="form-group">
                        <label for="start_date">Start Date:</label>
                        <input type="date" id="start_date" name="start_date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="due_date">Due Date:</label>
                        <input type="date" id="due_date" name="due_date" class="form-control">
                    </div>
                    <div class="form-group">
                        <select id="taskMembers" name="taskMembers" class="form-select" multiple>
                            <option disabled>Select User</option>
                            {% for user in project.members.all %}
                                    <option value="{{ user.id }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" id="createTaskBtn" class="btn btn-primary btn-block">Create Task</button>
                </form>
            </div>
    {% endif %}
        
    <div data-project_id="{{project.id}}" id='calendar'></div>
            
    <div class="progress mt-5" id="progress-bar-container" role="progressbar" aria-label="Task completion progress" aria-valuenow="{{ completion_percentage }}" aria-valuemin="0" aria-valuemax="100">
        <div id="progress-bar" class="progress-bar bg-success" style="width: {{ completion_percentage }}%">{{ completion_percentage }}%</div>
    </div>
        
        <div class="task-list mt-5">
            <h3 class="mb-4">Tasks</h3>
            <ul class="list-group">
                {% for task in all_tasks %}
                    <li id="task-{{ task.id }}" class="list-group-item mb-3 rounded shadow-sm {% if task.overdue and not task.complete %}task-overdue{% elif task.complete %} complete-task-container {% else %} task-ontime {% endif %}">
                        <div class="task-item">

                            <div id="task-info-{{task.id}}" class="task-info">
                                <h4 id="infoTitle-{{task.id}}" class="task-title">{{ task.title }}</h4>
                                <p id="infoDescription-{{task.id}}" class="task-description">{{ task.description }}</p>
                                <p class="task-dates">
                                    <strong>Start Date:</strong><p id="info_start-{{task.id}}">{{ task.start_date|date:"Y-m-d" }}</p> <br>
                                    <strong>Due Date:</strong> <p id="info_due-{{task.id}}">{{ task.due_date|date:"Y-m-d" }}</p>
                                </p>
                                <p class="task-members">
                                    <strong>Team members:</strong>
                                    {% for member in task.members.all %}
                                        <span>{{ member.username }}.</span>
                                    {% endfor %}
                                </p>
                                <p class="task-time" id="infoTime-{{task.id}}">Estimated Time: {{task.time}} Hours</p>    
                            </div>
                            


                            <div id="edit-{{task.id}}" class="edit-form">

                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" name="title" id="taskTitle-{{task.id}}" class="form-control" value="{{task.title}}" placeholder="Task title">
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea id="taskDescription-{{task.id}}"  name="description" class="form-control" placeholder="Task description" rows="3">{{ task.description }}</textarea>
                                </div>
                                <div class="form-group">
                                    <label>Time</label>
                                    <input type="number" name="time" value="{{task.time}}" id="taskTime-{{task.id}}" class="form-control" placeholder="Estimated time (hours)">
                                </div>
                                <div class="form-group">
                                    <label for="start_date">Start Date:</label>
                                    <input type="date" value="{{ task.start_date|date:"Y-m-d" }}" id="start_date-{{task.id}}" name="start_date" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="due_date">Due Date:</label>
                                    <input type="date"  value="{{ task.due_date|date:"Y-m-d" }}" id="due_date-{{task.id}}" name="due_date" class="form-control">
                                </div>
                            </div>


                            <div class="task-status mt-3">
                                {% if not task.complete %}
                                    {% if user == project.owner or user in task.members.all %}
                                        <div data-task_id="{{ task.id }}" class="complete-task">
                                            <button class="btn btn-success btn-sm">Complete</button>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <p class="btn btn-dark btn-sm">Completed</p>
                                {% endif %}
                                {% if user == project.owner and not task.complete %}
                                    <div data-task_id="{{ task.id }}" class="edit-task">
                                        <button class="btn btn-primary btn-sm">Edit</button>
                                    </div>
                                {% endif %}
                                
                                {% if user == project.owner %}
                                <div data-task_id="{{ task.id }}" class="delete-task">
                                    <button class="btn btn-danger btn-sm delete-task">Delete</button>
                                </div>
                                {% endif %}
                            </div>
                            {% if not task.complete %}
                                <form id="add-comment-{{task.id}}" action="{% url 'add_comment' id=task.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="commentTextarea">Add a Comment</label>
                                        <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                                </form>
                            {% endif %}
                            {% for comment in comments %}
                                {% if comment.task == task %}
                                    <div class="list-group-item list-group-item-action flex-column mt-2 rounded align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">{{ comment.user }}</h5>
                                                <p>{{ comment.timestamp }}</p>
                                            </div>
                                            <p class="mb-1">{{ comment.text }}</p>
                                        </div>
                                {% endif %}
                                
                            {% endfor %}
                        </div>
                    </li>
                {% empty %}
                    <p class="card-text">No tasks yet.</p>
                {% endfor %}
            </ul>
        </div>
{% endblock %}
